<div class="jumbotron">
  <h1>Welcome to the Help Desk System</h1>
  <p>Please log in to continue.</p>
  <!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Log In</button>
</div>

<%= render 'login_modal' %>