<div class="jumbotron">
  <h1>Welcome to the Help Desk System</h1>
  
  <% if !logged_in? %>
	  <p>Please log in to continue.</p>
	  <!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Log In</button>
	<% else %>
		<p>Hello, <%= current_employee.first_name %>!</p>
		<%= link_to "Log Out", logout_path, method: "delete", class: "btn btn-danger" %>
	<% end %>

</div>

<%= render 'login_modal' %>