<% if @ticket.errors.any? %>
	<div class="row">
		<div class="col-xs-12">
      <div class="panel panel-default validation-errors">
        <div class="panel-body">
          <dl>
            <dt><strong>ERRORS</strong></dt>
            <% obj.errors.each do |field, message| %>
              <dd><%= message %></dd>
            <% end %>
            </ul>
          </dl>
        </div>
      </div>
		</div>
	</div>
<% end %>
