<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3><%= action_name %> Tickets (<%= @tickets.size %>)</h3>
		  </div>
		  <div class="panel-body">
		    <%= render 'filter' %>
		  </div>
		</div>		
	</div>
</div>