<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3><%= page_header %></h3>
		  </div>
		  <%= render 'tickets/list' %>
		</div>
	</div>
</div>
