/*
*= require_self
*= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";

// Global styles

$error-red: #a94442;

.validation-errors {
  color: $error-red;
  border-left-width: 7px;
  border-left-color: $error-red;
  dl { margin-bottom: 0px; }
}

.field_with_errors {
  input { border-color: $error-red; }
  select { border-color: $error-red; }
  textarea { border-color: $error-red; }
}

#welcome {
  h1 { margin-left: 0.1em; }
  p { margin-left: 0.2em; }
  button { margin-left: 0.2em; }
}

.status-icon {
  margin-right: 5px;
}

.priority-icon {
  color: $error-red;
}

// Styles for ticket/:id/show

#ticket-show-buttons {
  a { margin-top: 1em; }
  button { margin-top: 1em; }
}
